body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
#_idContainer000 {
	-ms-transform:translate(0.949px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.949px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:595.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.949px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.949px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:841.89px;
}
#_idContainer001, #_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:595.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:841.89px;
}
#_idContainer003, #_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:595.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:842.02px;
}
#_idContainer004 {
	-ms-transform:translate(831.889px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(831.889px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:628.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(831.889px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(831.889px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:865.33px;
}
#_idContainer005 {
	-ms-transform:translate(-10.000px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-10.000px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:628.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-10.000px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-10.000px,-23.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:865.33px;
}
#_idContainer007 {
	-ms-transform:translate(836.890px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(836.890px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:618.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(836.890px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(836.890px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.71px;
}
#_idContainer008 {
	-ms-transform:translate(-5.000px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-5.000px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:618.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-5.000px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-5.000px,-12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.71px;
}
#_idVideo000 {
	-ms-transform:translate(0.000%,0.597%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.988);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.597%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.988);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(0.000%,0.597%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.988);
	transform:translate(0.000%,0.597%) rotate(0.000deg) skew(0.000deg) scale(1.000,0.988);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer009 {
	-ms-transform:translate(451.500px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(451.500px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:188.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(451.500px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(451.500px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:338.61px;
}
#_idVideo001 {
	-ms-transform:translate(-0.136%,-0.136%) rotate(0.000deg) skew(0.000deg) scale(1.001,1.001);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.136%,-0.136%) rotate(0.000deg) skew(0.000deg) scale(1.001,1.001);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-0.136%,-0.136%) rotate(0.000deg) skew(0.000deg) scale(1.001,1.001);
	transform:translate(-0.136%,-0.136%) rotate(0.000deg) skew(0.000deg) scale(1.001,1.001);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer010 {
	-ms-transform:translate(60.772px,353.649px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.772px,353.649px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:188.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(60.772px,353.649px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.772px,353.649px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:342.71px;
}
#_idVideo002 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer011 {
	-ms-transform:translate(60.772px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.772px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:188.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(60.772px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.772px,59.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:342.71px;
}
#_idVideo003 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.999,0.999);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer012 {
	-ms-transform:translate(451.499px,355.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(451.499px,355.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/8.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:186.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(451.499px,355.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(451.499px,355.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:338.61px;
}
#_idContainer013 {
	-ms-transform:translate(-16.841px,-18.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-16.841px,-18.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:646.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-16.841px,-18.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-16.841px,-18.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:877.57px;
}
#_idVideo004, #_idVideo005, #_idVideo006, #_idVideo007 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer014 {
	-ms-transform:translate(14.284px,342.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.284px,342.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:209.65px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(14.284px,342.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.284px,342.638px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.17px;
}
#_idContainer015 {
	-ms-transform:translate(436.390px,53.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(436.390px,53.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/12.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:212.39px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(436.390px,53.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(436.390px,53.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:387.17px;
}
#_idContainer016 {
	-ms-transform:translate(436.390px,341.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(436.390px,341.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/14.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:212.39px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(436.390px,341.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(436.390px,341.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:387.17px;
}
#_idContainer017 {
	-ms-transform:translate(9.390px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(9.390px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/16.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:217.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(9.390px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(9.390px,48.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:387.07px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:188px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:339px;
}
div._idGenObjectAttribute-4 {
	height:188px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:343px;
}
div._idGenObjectAttribute-5 {
	height:186px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:339px;
}
div._idGenObjectAttribute-6 {
	height:210px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:382px;
}
div._idGenObjectAttribute-7 {
	height:212px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:387px;
}
div._idGenObjectAttribute-8 {
	height:218px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:387px;
}
